<section *ngIf="!showCycle" class="main-container">
  <div class="container-fluid">
    <!-- *************************************************    filtros  ****************************************************************** -->
    <div class="row">

      <!-- ****************************************  mostrar ideas  ******************************************** -->
      <div class="form-group col-sm-12 col-md-4 col-lg-3">



        <div class="btn-group" role="group" aria-label="...">
          <button (click)="GetIdeasByAuthor(1)" (click)="ideaButtons(0)" [ngClass]="{btnNormal: buttonAction === 2, btnActive: buttonAction === 1}"
            type="button" class="btn text-center">Mis ideas</button>
          <button (click)="GetIdeasByScore(1)" (click)="ideaButtons(1)" [ngClass]="{btnActive: buttonAction === 2, btnNormal: buttonAction === 1}"
            type="button" class="btn text-center">Todas las ideas</button>
        </div>

      </div>
      <!-- ********************************************  filtrar por  *************************************** -->
      <div class="form-group col-sm-12 col-md-4 col-lg-3">

        <select (change)="filterBy($event)" class="custom-select col-md-auto" name="Ordenar" id="">
          <option value="" disabled selected hidden> Ordenar por:</option>
          <option class="op1" value="3">Likes</option>
          <option class="op2" value="1">Puntuación</option>
        </select>




      </div>
      <!-- *********************************** buscar******************************************************** -->
      <div class="form-group col-sm-12 col-md-4 col-lg-3 d-flex  ml-md-auto flex-row-reverse">

        <div class="input-group mb-2 mb-sm-0">
          <input [(ngModel)]="search" (keyup)="onSearch($event)" class="form-control forms focus" type="search" placeholder="Buscar:"
            id="inlineFormInputGroup">
          <div class="input-group-addon">
            <fa name="search"></fa>
          </div>
        </div>

      </div>


    </div>



  </div>
  <!-- ***************************************************  cardview  ************************************************************-->
  <div class="cards container-fluid">

    <div class="columns row">
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>card<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
      <div *ngFor="let item of items" class="cardIdea col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div class="content">
          <div class="relative" (click)="openIdea(item._id, item)" [ngClass]="{'d-flex': item.image.length === 0 , 'justify-content-center': item.image.length === 0,'align-items-center ': item.image.length === 0}">
            <img   [id]="item._id" class="img-fluid" [ngClass]="{'card-img-top': item.image.length > 0 , 'card-img-top-notfound': item.image.length === 0}"
            [src]="item.image.length > 0  ? urlGetImage + item.image[0].image : '/assets/icons/placeholder.png' " 
            (error)="errorHandlerIdeaImage($event,item._id)"
              alt="Card image cap" >
          </div>
          <div class="absolute d-flex flex-row" (click)="openIdea(item._id, item)">
            <div class="dot"></div>
            <p *ngIf="item.status === 0">Nueva</p>
            <p *ngIf="item.status === 1">Experimentando</p>
            <p *ngIf="item.status === 2">verify</p>
            <p *ngIf="item.status === 3">Expand</p>
            <p *ngIf="item.status === 4">Review</p>
            <p *ngIf="item.status === 6">Finalizada</p>
          </div>
          <div (click)="openIdea(item._id, item)" class="card-body">
            <p class="card-title">{{item.title}}</p>
          </div>

          <ul class="list-group list-group-flush">
            <li (click)="openIdea(item._id, item)" class="list-group-item d-flex flex-row justify-content-between  align-items-center">
              <img class="imgAuthor" [src]="item.author.image !== undefined ? urlImageUser + item.author.image : '/assets/icons/icon-user.png' "  
              (error)="errorHandlerAuthorImageWhite($event,item._id+1)" [id]="item._id+1">
              <p>{{item.score}} Pts.</p>
            </li>
            <li class="none">
              <hr>
            </li>
            <li class="list-group-item d-flex flex-row">

              <div class="likes d-flex flex-row">
                <fa size="lg" name="thumbs-o-up"></fa>
                <p *ngIf="item.likes !== null">{{item.likes.length}}</p>
                <p *ngIf="item.likes === null">0</p>
              </div>

              <div class="comment d-flex flex-row" (click)="item.comments.length > 0 ? openComments(comment, item._id) : null">
                <fa size="lg" name="comment-o"></fa>
                <p *ngIf="item.comments.length !== 0">{{item.comments.length}}</p>
                <p *ngIf="item.comments.length === 0">0</p>
              </div>

              <div class="notify ml-auto">
                <img *ngIf="verifyNotify(item)" src="assets/icons/notify.png" width="20px">
              </div>


            </li>

          </ul>


        </div>
      </div>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>end card<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

    </div>


<div class="pag">
    <ngb-pagination [collectionSize]="pageCollection" [(page)]="page" [pageSize]="10" (pageChange)=" loadPage($event)" [maxSize]="7"
      aria-label="Default pagination"></ngb-pagination>
    </div>
  </div>


  <!-- **********************************************************modal Comentarios ************************************************* -->
  <ng-template #comment let-c="close" let-d="dismiss" >
    <!-- ********************************************** header modal *************************************************** -->
    <div class="modal-header header-color" id="comments">
      <div class="col-md-11">

        <h4 class="modal-title">Comentarios</h4>
      </div>
      <div class="col-md-1">

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
    </div>
    <!-- **********************************************fin  header modal *************************************************** -->

    <!-- ********************************************** body modal *************************************************** -->
    <div class="modal-body body-comment " data-spy="scroll" data-target="#navbar-example3" data-offset="0">
      <ul class="list-unstyled">
        <li class="media d-flex align-items-start" *ngFor="let comment of arrayComments">
          <img class="imgComment" [src]="comment.user.image !== undefined ? urlImageUser + comment.user.image : '/assets/icons/placeholder.png'">
          <div class="media-body">
            <h5 class="title" >{{comment.user.fullname}}</h5>
            <p class="date">{{comment.date | date:'d/M/y H:m:s' }}</p>
            <p class="content">{{comment.content}}</p>
          </div>
         
        </li>
      </ul>
    </div>
    <!-- ********************************************** body modal *************************************************** -->

  </ng-template>


</section>


<section *ngIf="showCycle" class="main-container" id="Cycle">
  <!-- ********************************************************** modal informacion idea ************************************************* -->
  <div class="container-fluid">
    <!-- ********************************************** header modal *************************************************** -->
    <header class="container">
      <div class="row container-title">

        <h4 class="title">{{itemTitle}}</h4>
      </div>
      <div class="row d-flex justify-content-start team-container">


        <div class="p-2  employee  col col-lg-2 ">
          <div class=" d-flex justify-content-center align-items-center ">
            <h3>Autor</h3>
          </div>
          <ng-template #popContent let-greeting="greeting">
            <p>Area:
              <b>{{infoEmployee.workArea}}</b>
            </p>
            <p>Puesto:
              <b>{{infoEmployee.workCharge}}</b>
            </p>
          </ng-template>
          <div class=" d-flex  justify-content-center  p-2 ">
            <img [src]="author !== null ? urlImageUser + author.image : '/assets/icons/userDefault.png' " 
            (mouseenter)="changeGreeting(author)" (error)="errorHandlerAuthorImage($event,author._id+2)" [id]="author._id+2"
              [ngbPopover]="popContent" popoverTitle="{{author !== null ? author.fullname : ''}}" #p="ngbPopover" triggers="mouseenter:mouseleave">
          </div>
        </div>

        <div class="p-2 employee  col col-lg-2">
          <div class=" d-flex justify-content-center align-items-center ">
            <h3>Coach</h3>
          </div>
          <div class="d-flex  justify-content-center  p-2">
            <img [src]="coach.image !== undefined ? urlImageUser + coach.image : '/assets/icons/userDefault.png'" 
            (mouseenter)="changeGreeting(coach)" (error)="errorHandlerAuthorImage($event,coach._id+3)" [id]="coach._id+3"
              [ngbPopover]="popContent" popoverTitle="{{coach.fullname}}" #p="ngbPopover" triggers="mouseenter:mouseleave">
          </div>
        </div>
        <div class="collaborators col-sm-auto col-md-auto p-2 ">

          <div class=" d-flex justify-content-center align-items-center ">
            <h3 class="">Colaboradores</h3>
          </div>
          <div class="d-flex flex-wrap justify-content-center align-items-center  ">

            <div *ngFor="let col of collaborators" class="p-2 ">
              <img [src]="col.info.image !== undefined ? urlImageUser + col.info.image : '/assets/icons/userDefault.png' " 
              (mouseenter)="changeGreeting(col.info)" (error)="errorHandlerAuthorImage($event,col.info._id+4)" [id]="col.info+4"
                [ngbPopover]="popContent" popoverTitle="{{col.info.fullname}}" #p="ngbPopover" triggers="mouseenter:mouseleave">
            </div>

          </div>

        </div>



        <div class=" col  col-lg-2 ml-auto p-2 ">
          <button class="btn btnBack btn-block btn-large " (click)="closeIdea()">
           <fa style="float:left"  name="angle-left" size="lg"></fa> Regresar a ideas</button>
        </div>
      </div>




    </header>
    <!-- ********************************************** fin  header modal *************************************************** -->

    <!-- ********************************************** body modal *************************************************** -->
    <div class=" container body tab-content" *ngIf="showBigTabs">
      <ngb-tabset #t="ngbTabset">
        <ngb-tab>
          <ng-template ngbTabTitle>
            <img src="assets/icons/icon-problema.png" width="40px" (click)="activeDiv(1)"> Problema
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row d-flex justify-content-center tab-pane active" id="home1">
              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h5 class="margin">¿Cual es el problema?</h5>
                    <p>{{itemProblem != null ? itemProblem: 'Aun no han contesado las preguntas'}}</p>
                  </li>

                  <li class="list-group-item">
                    <h5 class="margin">¿Cual es la idea?</h5>
                    <p>{{itemDescription !== null ? itemDescription : 'Aun no han contesado las preguntas'}}</p>
                  </li>

                  <li class="list-group-item">
                    <h5 class="margin">¿Cual es el resultado que esperas?</h5>
                    <p>{{itemResult != null ? itemResult : 'Aun no han contesado las preguntas'}}</p>
                  </li>

                </ul>

              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="container">
                  <div class="row">
                    <div *ngIf="arrayImageStatus0.length > 0">
                      <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li *ngIf="arrayImageStatus0.length > 0" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li *ngIf="arrayImageStatus0.length > 1" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li *ngIf="arrayImageStatus0.length > 2" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img [src]="arrayImageStatus0[0].image !== undefined ? this.urlGetImage + arrayImageStatus0[0].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid"  (error)="errorHandlerIdeaImage($event,author._id+5)" [id]="author._id+5">
                          </div>
                          <div *ngIf="arrayImageStatus0.length > 1" class="carousel-item">
                            <img [src]="arrayImageStatus0[1].image !== undefined ? this.urlGetImage + arrayImageStatus0[1].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid" [id]="author._id+6" (error)="errorHandlerIdeaImage($event,author._id+6)">
                          </div>
                          <div *ngIf="arrayImageStatus0.length > 2" class="carousel-item">
                            <img [src]="arrayImageStatus0[2].image !== undefined ? this.urlGetImage + arrayImageStatus0[2].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid" [id]="author._id+7" (error)="errorHandlerIdeaImage($event,author._id+7)">
                          </div>
                        </div>
                        <a *ngIf="arrayImageStatus0.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a *ngIf="arrayImageStatus0.length > 1" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <!-- finaliza carusel -->
                    <div *ngIf="arrayImageStatus0.length == 0" class="relative imageIdea d-flex justify-content-center align-items-center" >
                      <img [src]="'/assets/icons/placeholder.png'" alt="notfound">
                    </div>
                  </div>
                  <!-- finaliza row -->
                  <div class="row comments">
                    <div *ngIf="arrayImageStatus0[0] !== undefined" class="">
                      <h3 *ngIf="arrayImageStatus0[0].comment !== ''" class="commentTitle">Comentario</h3>
                      <p class="commentContent">{{arrayImageStatus0[0].comment}}</p>
                    </div>
                  </div>
                  <!-- finaliza container -->
                </div>
                <!-- finaliza columna -->
              </div>
            </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <img src="assets/icons/icon-problema.png" width="40px"> Experimento
          </ng-template>
          <ng-template ngbTabContent>

            <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <div class="row d-flex justify-content-center tab-pane active" id="home1">

              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h5 class="margin">¿Que hiciste para resolver el problema?</h5>
                    <p>{{itemExperiment !== null ? itemExperiment : 'Aun no han contesado la pregunta'}}</p>
                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="container">
                  <div class="row">
                    <div *ngIf="arrayImageStatus1.length > 0">
                      <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li *ngIf="arrayImageStatus1.length > 0" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li *ngIf="arrayImageStatus1.length > 1" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li *ngIf="arrayImageStatus1.length > 2" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img [src]="arrayImageStatus1[0].image !== undefined ? this.urlGetImage + arrayImageStatus1[0].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                          <div *ngIf="arrayImageStatus1.length > 1" class="carousel-item">
                            <img [src]="arrayImageStatus1[1].image !== undefined ? this.urlGetImage + arrayImageStatus1[1].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                          <div *ngIf="arrayImageStatus1.length > 2" class="carousel-item">
                            <img [src]="arrayImageStatus1[2].image !== undefined ? this.urlGetImage + arrayImageStatus1[2].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                        </div>
                        <a *ngIf="arrayImageStatus1.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a *ngIf="arrayImageStatus1.length > 1" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <!-- finaliza carusel -->
                    <div *ngIf="arrayImageStatus1.length == 0" class="imageIdea d-flex justify-content-center align-items-center">
                      <img [src]="'/assets/icons/placeholder.png'" alt="notfound" >
                    </div>
                  </div>
                  <!-- finaliza row -->
                  <div class="row comments">
                    <div *ngIf="arrayImageStatus1[0] !== undefined" class="">
                      <h3 *ngIf="arrayImageStatus1[0].comment !== ''" class="commentTitle">Comentario</h3>
                      <p class="commentContent">{{arrayImageStatus1[0].comment}}</p>
                    </div>
                  </div>
                  <!-- finaliza container -->
                </div>
                <!-- finaliza columna -->
              </div>
            </div>
            <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <img src="assets/icons/icon-problema.png" width="40px"> Verificación
          </ng-template>
          <ng-template ngbTabContent>
            <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>3>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <div class="row d-flex justify-content-center tab-pane active" id="home1">

              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <ul class="list-group">
                  <div>
                    <h5 class="mt-4">¿Se han alcanzado los objetivos?</h5>
                    <p>
                      {{itemVerify !== null ? '' : 'Aun no se a verificado'}}
                    </p>
                  </div>
                  <li *ngIf="itemVerify === true" class="list-group-item">
                   
                    <div class="alert alert-success text-center">
                      <p class="message">
                        <fa name="check-circle"></fa>Idea Exitosa</p>
                    </div>
                  </li>
                  <li *ngIf="itemVerify === false" class="list-group-item">
                    <div class="alert alert-danger text-center">
                      <p class="message">
                        <fa name="times-circle"></fa>Idea Rechazada</p>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="container">
                  <div class="row">
                    <div *ngIf="arrayImageStatus2.length > 0">
                      <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li *ngIf="arrayImageStatus2.length > 0" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li *ngIf="arrayImageStatus2.length > 1" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li *ngIf="arrayImageStatus2.length > 2" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img [src]="arrayImageStatus2[0].image !== undefined ? this.urlGetImage + arrayImageStatus2[0].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                          <div *ngIf="arrayImageStatus2.length > 1" class="carousel-item">
                            <img [src]="arrayImageStatus2[1].image !== undefined ? this.urlGetImage + arrayImageStatus2[1].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                          <div *ngIf="arrayImageStatus0.length > 2" class="carousel-item">
                            <img [src]="arrayImageStatus2[2].image !== undefined ? this.urlGetImage + arrayImageStatus2[2].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                        </div>
                        <a *ngIf="arrayImageStatus2.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a *ngIf="arrayImageStatus2.length > 1" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <!-- finaliza carusel -->
                    <div *ngIf="arrayImageStatus2.length == 0" class="imageIdea d-flex justify-content-center align-items-center">
                      <img [src]="'/assets/icons/placeholder.png'" alt="notfound" >
                    </div>
                  </div>
                  <!-- finaliza row -->
                  <div class="row comments">
                    <div *ngIf="arrayImageStatus2[0] !== undefined" class="">
                      <h3 *ngIf="arrayImageStatus2[0].comment !== ''" class="commentTitle">Comentario</h3>
                      <p class="commentContent">{{arrayImageStatus2[0].comment}}</p>
                    </div>
                  </div>
                  <!-- finaliza container -->
                </div>
                <!-- finaliza columna -->
              </div>
            </div>
            <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>3>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <img src="assets/icons/icon-problema.png" width="40px" (click)="activeDiv(4)"> Expandir
          </ng-template>
          <ng-template ngbTabContent>

            <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>4>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
            <div class="row d-flex justify-content-center tab-pane active" id="home1">

              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h5 class="margin">¿Qué aprendiste?</h5>
                    <p>{{itemImplementation !== null ? itemImplementation : 'Aun no han contesado la pregunta' }}</p>
                  </li>
                </ul>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="container">
                  <div class="row">
                    <div *ngIf="arrayImageStatus3.length > 0">
                      <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li *ngIf="arrayImageStatus3.length > 0" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li *ngIf="arrayImageStatus3.length > 1" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li *ngIf="arrayImageStatus3.length > 2" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img [src]="arrayImageStatus3[0].image !== undefined ? this.urlGetImage + arrayImageStatus3[0].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                          <div *ngIf="arrayImageStatus0.length > 1" class="carousel-item">
                            <img [src]="arrayImageStatus3[1].image !== undefined ? this.urlGetImage + arrayImageStatus3[1].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                          <div *ngIf="arrayImageStatus0.length > 2" class="carousel-item">
                            <img [src]="arrayImageStatus3[2].image !== undefined ? this.urlGetImage + arrayImageStatus3[2].image : '/assets/icons/placeholder.png'"
                              alt="First slide" class="img-fluid">
                          </div>
                        </div>
                        <a *ngIf="arrayImageStatus3.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a *ngIf="arrayImageStatus3.length > 1" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <!-- finaliza carusel -->
                    <div *ngIf="arrayImageStatus3.length == 0" class="imageIdea d-flex justify-content-center align-items-center">
                      <img [src]="'/assets/icons/placeholder.png'" alt="notfound" >
                    </div>
                  </div>
                  <!-- finaliza row -->
                  <div class="row comments">
                    <div *ngIf="arrayImageStatus3[0] !== undefined" class="">
                      <h3 *ngIf="arrayImageStatus3[0].comment !== ''" class="commentTitle">Comentario</h3>
                      <p class="commentContent">{{arrayImageStatus3[0].comment}}</p>
                    </div>
                  </div>
                  <!-- finaliza container -->
                </div>
                <!-- finaliza columna -->
              </div>
            </div>
            <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>4>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
            <img src="assets/icons/icon-problema.png" width="40px"> Reseña
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h5>¿Como te sientes poniendo en practica esta idea?</h5>
                    <div [ngClass]="{imgFaceIco: review !== null, 'col-3': review !== null, 'col-12': review ===null }">
                      <img cla *ngIf="review !== null" [src]="review.teamFeel !== null? faces[review.teamFeel] : faces[review.teamFeel]" alt="">
                      <p>{{review !== null ? stats[review.teamFeel] : 'Sin contestar aun'}}</p>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <h5>Seguridad</h5>
                    <div [ngClass]="{imgFaceIco: review !== null, 'col-3': review !== null, 'col-12': review ===null }">
                      <img *ngIf="review !== null" [src]="review.safety !== null ? faces2[review.safety] : faces2[review.safety]" alt="">
                      <p>{{review !== null ? stats2[review.safety] : 'Sin contestar aun'}}</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-sm-12">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h5>Ergonomia</h5>
                    <div [ngClass]="{imgFaceIco: review !== null, 'col-3': review !== null, 'col-12': review ===null }">
                      <img *ngIf="review !== null" [src]="review.ergonomics !== null ? faces2[review.ergonomics] : faces2[review.ergonomics]" alt="">
                      <p>{{review !== null ? stats2[review.ergonomics] : 'Sin contestar aun'}}</p>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <h5>¿Como se siente el cliente con esta idea?</h5>
                    <div [ngClass]="{imgFaceIco: review !== null, 'col-3': review !== null, 'col-12': review ===null }">
                      <img *ngIf="review !== null" [src]="review.customer !== null? faces[review.customer] : faces[review.customer]" alt="">
                      <p>{{review !== null ? stats[review.customer] : 'Sin contestar aun' }}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
        </ngb-tab>


      </ngb-tabset>
    </div>
    <!-- ********************************************** body modal *************************************************** -->
  </div>

  <div class=" container body tab-content" *ngIf="!showBigTabs">
    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">

      <ngb-panel id="config-panel-one">
        <ng-template ngbPanelTitle>
          <img src="assets/icons/icon-problema.png" width="40px"> Problema
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row d-flex justify-content-center tab-pane active" id="home1">
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <ul class="list-group">
                <li class="list-group-item">
                  <h5>¿Cual es el problema?</h5>
                  <p>{{itemProblem != null ? itemProblem: 'Aun no han contesado las preguntas'}}</p>
                </li>

                <li class="list-group-item">
                  <h5>¿Cual es la idea?</h5>
                  <p>{{itemDescription !== null ? itemDescription : 'Aun no han contesado las preguntas'}}</p>
                </li>

                <li class="list-group-item">
                  <h5>¿Cual es el resultado que esperas?</h5>
                  <p>{{itemResult != null ? itemResult : 'Aun no han contesado las preguntas'}}</p>
                </li>

              </ul>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <div class="container">
                <div class="row">
                  <div *ngIf="arrayImageStatus0.length > 0">
                    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li *ngIf="arrayImageStatus0.length > 0" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li *ngIf="arrayImageStatus0.length > 1" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li *ngIf="arrayImageStatus0.length > 2" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img [src]="arrayImageStatus0[0].image !== undefined ? this.urlGetImage + arrayImageStatus0[0].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                        <div *ngIf="arrayImageStatus0.length > 1" class="carousel-item">
                          <img [src]="arrayImageStatus0[1].image !== undefined ? this.urlGetImage + arrayImageStatus0[1].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                        <div *ngIf="arrayImageStatus0.length > 2" class="carousel-item">
                          <img [src]="arrayImageStatus0[2].image !== undefined ? this.urlGetImage + arrayImageStatus0[2].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                      </div>
                      <a *ngIf="arrayImageStatus0.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a *ngIf="arrayImageStatus0.length > 1" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <!-- finaliza carusel -->
                  <div *ngIf="arrayImageStatus0.length == 0" class="imageIdea d-flex justify-content-center align-items-center">
                    <img [src]="'/assets/icons/placeholder.png'" alt="notfound" >
                  </div>
                </div>
                <!-- finaliza row -->
                <div class="row comments">
                  <div *ngIf="arrayImageStatus0[0] !== undefined" class="">
                    <h3 *ngIf="arrayImageStatus0[0].comment !== ''" class="commentTitle">Comentario</h3>
                    <p class="commentContent">{{arrayImageStatus0[0].comment}}</p>
                  </div>
                </div>
                <!-- finaliza container -->
              </div>
              <!-- finaliza columna -->
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <img src="assets/icons/icon-problema.png" width="40px"> Experimento
        </ng-template>
        <ng-template ngbPanelContent>
          <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
          <div class="row d-flex justify-content-center tab-pane active" id="home1">
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <ul class="list-group">
                <li class="list-group-item">
                  <h5>¿Que hiciste para resolver el problema?</h5>
                  <p>{{itemExperiment !== null ? itemExperiment : 'Aun no han contesado la pregunta'}}</p>
                </li>
              </ul>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <div class="container">
                <div class="row">
                  <div *ngIf="arrayImageStatus1.length > 0">
                    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li *ngIf="arrayImageStatus1.length > 0" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li *ngIf="arrayImageStatus1.length > 1" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li *ngIf="arrayImageStatus1.length > 2" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img [src]="arrayImageStatus1[0].image !== undefined ? this.urlGetImage + arrayImageStatus1[0].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                        <div *ngIf="arrayImageStatus1.length > 1" class="carousel-item">
                          <img [src]="arrayImageStatus1[1].image !== undefined ? this.urlGetImage + arrayImageStatus1[1].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                        <div *ngIf="arrayImageStatus1.length > 2" class="carousel-item">
                          <img [src]="arrayImageStatus1[2].image !== undefined ? this.urlGetImage + arrayImageStatus1[2].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                      </div>
                      <a *ngIf="arrayImageStatus1.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a *ngIf="arrayImageStatus1.length > 1" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <!-- finaliza carusel -->
                  <div *ngIf="arrayImageStatus1.length == 0" class="imageIdea d-flex justify-content-center align-items-center">
                    <img [src]="'/assets/icons/placeholder.png'" alt="notfound" >
                  </div>
                </div>
                <!-- finaliza row -->
                <div class="row comments">
                  <div *ngIf="arrayImageStatus1[0] !== undefined" class="">
                    <h3 *ngIf="arrayImageStatus1[0].comment !== ''" class="commentTitle">Comentario</h3>
                    <p class="commentContent">{{arrayImageStatus1[0].comment}}</p>
                  </div>
                </div>
                <!-- finaliza container -->
              </div>
              <!-- finaliza columna -->
            </div>
          </div>
          <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <img src="assets/icons/icon-problema.png" width="40px"> Verificación
        </ng-template>
        <ng-template ngbPanelContent>
          <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
          <div class="row d-flex justify-content-center tab-pane active" id="home1">
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <ul class="list-group">
                  <div>
                      <h5 class="mt-4">¿Se han alcanzado los objetivos?</h5>
                      <p>
                        {{itemVerify !== null ? '' : 'Aun no se a verificado'}}
                      </p>
                    </div>
                <li *ngIf="itemVerify === true" class="list-group-item">
                    <div class="alert alert-success text-center">
                        <p class="message">
                          <fa name="check-circle"></fa>Idea Exitosa</p>
                      </div>
                </li>
                <li *ngIf="itemVerify === false" class="list-group-item">
                  <p class="message">
                    <fa name="times-circle"></fa>Idea Rechazada</p>
                </li>
              </ul>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <div class="container">
                <div class="row">
                  <div *ngIf="arrayImageStatus2.length > 0">
                    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li *ngIf="arrayImageStatus2.length > 0" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li *ngIf="arrayImageStatus2.length > 1" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li *ngIf="arrayImageStatus2.length > 2" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img [src]="arrayImageStatus2[0].image !== undefined ? this.urlGetImage + arrayImageStatus2[0].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                        <div *ngIf="arrayImageStatus2.length > 1" class="carousel-item">
                          <img [src]="arrayImageStatus2[1].image !== undefined ? this.urlGetImage + arrayImageStatus2[1].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                        <div *ngIf="arrayImageStatus2.length > 2" class="carousel-item">
                          <img [src]="arrayImageStatus2[2].image !== undefined ? this.urlGetImage + arrayImageStatus2[2].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                      </div>
                      <a *ngIf="arrayImageStatus2.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a *ngIf="arrayImageStatus2.length > 1" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <!-- finaliza carusel -->
                  <div *ngIf="arrayImageStatus2.length == 0" class="imageIdea d-flex justify-content-center align-items-center">
                    <img [src]="'/assets/icons/placeholder.png'" alt="notfound" >
                  </div>
                </div>
                <!-- finaliza row -->
                <div class="row comments">
                  <div *ngIf="arrayImageStatus2[0] !== undefined" class="">
                    <h3 *ngIf="arrayImageStatus2[0].comment !== ''" class="commentTitle">Comentario</h3>
                    <p class="commentContent">{{arrayImageStatus2[0].comment}}</p>
                  </div>
                </div>
                <!-- finaliza container -->
              </div>
              <!-- finaliza columna -->
            </div>
          </div>
          <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <img src="assets/icons/icon-problema.png" width="40px"> Expandir
        </ng-template>
        <ng-template ngbPanelContent>
          <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
          <div class="row d-flex justify-content-center tab-pane active" id="home1">
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <ul class="list-group">
                <li class="list-group-item">
                  <h5>¿Qué aprendiste?</h5>
                  <p>{{itemImplementation !== null ? itemImplementation : 'Aun no han contesado la pregunta' }}</p>
                </li>
              </ul>

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <div class="container">
                <div class="row">
                  <div *ngIf="arrayImageStatus3.length > 0">
                    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li *ngIf="arrayImageStatus3.length > 0" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li *ngIf="arrayImageStatus3.length > 1" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li *ngIf="arrayImageStatus3.length > 2" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img [src]="arrayImageStatus3[0].image !== undefined ? this.urlGetImage + arrayImageStatus3[0].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                        <div *ngIf="arrayImageStatus3.length > 1" class="carousel-item">
                          <img [src]="arrayImageStatus3[1].image !== undefined ? this.urlGetImage + arrayImageStatus3[1].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                        <div *ngIf="arrayImageStatus3.length > 2" class="carousel-item">
                          <img [src]="arrayImageStatus3[2].image !== undefined ? this.urlGetImage + arrayImageStatus3[2].image : '/assets/icons/placeholder.png'"
                            alt="First slide" class="img-fluid">
                        </div>
                      </div>
                      <a *ngIf="arrayImageStatus3.length > 1" class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a *ngIf="arrayImageStatus3.length > 1" class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                  <!-- finaliza carusel -->
                  <div *ngIf="arrayImageStatus3.length == 0" class="imageIdea d-flex justify-content-center align-items-center">
                    <img [src]="'/assets/icons/placeholder.png'" alt="notfound" >
                  </div>
                </div>
                <!-- finaliza row -->
                <div class="row comments">
                  <div *ngIf="arrayImageStatus3[0] !== undefined" class="">
                    <h3 *ngIf="arrayImageStatus3[0].comment !== ''" class="commentTitle">Comentario</h3>
                    <p class="commentContent">{{arrayImageStatus3[0].comment}}</p>
                  </div>
                </div>
                <!-- finaliza container -->
              </div>
              <!-- finaliza columna -->
            </div>
          </div>
          <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
        </ng-template>
      </ngb-panel>

      <ngb-panel>
        <ng-template ngbPanelTitle>
          <img src="assets/icons/icon-problema.png" width="40px"> Reseña
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">
                  <h5>¿Como te sientes poniendo en practica esta idea?</h5>
                  <div>
                    <div class="row col-12">
                      <div class="col-12 d-flex justify-content-center ">
                        <img class="face-mobile" *ngIf="review !== null" [src]="review.teamFeel !== null? faces[review.teamFeel] : faces[review.teamFeel]" alt="">
                      </div>
                    </div>
                    <div class="row col-12">
                      <div class="col-12 d-flex justify-content-center ">
                        <p>{{review !== null ? stats[review.teamFeel] : 'Sin contestar aun'}}</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <h5>Seguridad</h5>
                  <div>
                    <div class="row col-12">
                      <div class="col-12 d-flex justify-content-center ">
                        <img class="face-mobile" *ngIf="review !== null" [src]="review.safety !== null ? faces2[review.safety] : faces2[review.safety]" alt="">
                      </div>
                    </div>
                    <div class="row col-12">
                      <div class="col-12 d-flex justify-content-center ">
                        <p>{{review !== null ? stats2[review.safety] : 'Sin contestar aun'}}</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-12">
              <ul class="list-group">
                <li class="list-group-item">
                  <h5>Ergonomia</h5>
                  <div>
                    <div class="row col-12">
                      <div class="col-12 d-flex justify-content-center ">
                        <img class="face-mobile" *ngIf="review !== null" [src]="review.ergonomics !== null ? faces2[review.ergonomics] : faces2[review.ergonomics]" alt="">
                      </div>
                    </div>
                    <div class="row col-12">
                      <div class="col-12 d-flex justify-content-center ">
                        <p>{{review !== null ? stats2[review.ergonomics] : 'Sin contestar aun'}}</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <h5>¿Como se siente el cliente con esta idea?</h5>
                  <div>
                    <div class="row col-12">
                      <div class="col-12 d-flex justify-content-center ">
                        <img class="face-mobile" *ngIf="review !== null" [src]="review.customer !== null? faces[review.customer] : faces[review.customer]" alt="">
                      </div>
                    </div>
                    <div class="row col-12">
                      <div class="col-12 d-flex justify-content-center ">
                        <p>{{review !== null ? stats[review.customer] : 'Sin contestar aun' }}</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

</section>
<app-footer></app-footer>