@import '../../../styles/_colors.scss';

// modal comment
.header-color{
  background-color: $colorBtnLeft !important;
  color: white;
}
.body-comment{
 
  .media{
    // background-color: rgba($color: #000000, $alpha: .5);
    border-bottom: 1px solid #E9E9E9;
    
    img{
      width: 50px;
      border-radius: 100%;
      margin: 10px;
    }
    .media-body{
     padding-top: 10px;
      .title{
        font-size: 14px;
        color: rgba($color: $textColorDark, $alpha: .90);
      }
      .date{
        color: rgba($color: $textColorDark, $alpha: .50);
        font-size: 10px;
      }
      .content{
        padding-right: 10px;
        word-wrap: break-word;
        color: rgba($color: $textColorDark, $alpha: .90) !important;
        font-size: 12px;
      }
    }
    .hr-s{
     
     background-color: #E9E9E9;
    }
    }
}

// Main screen
.main-container{
     padding: 15px;
    
     background-color: white;
     
     select{
        background-color: $comboBackground;
        border: 2px solid $comboBorder !important;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        option{
          margin: 50px;
          font-size: 14px;
          border: 1px solid $comboBorder !important;
          
        }
       
        }

    .form-group{
      font-size: 14px !important;
      font-weight: 300;
    }
       
      
       
     
     input{
        background-color: white;
        color: $textColorDark;
        border: 2px solid $extraColor;
   
     }
     .btn{
      font-size: 13px;
      font-weight: bold;
  
    }
     @media only screen and (max-width: 992px){
      .btn{
        font-size: 12px;
        font-weight: bold;
    
      }
    }
    @media only screen and (max-width: 768px){
       .btn{
        font-size: 13px;
        font-weight: bold;
    
      }
    }
    @media screen and (max-width: 570px){
      .btn{
        font-size: 14px;
        font-weight: bold;
    
      }
    }
     ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba($color: #000000, $alpha: .5);
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: rgba($color: #000000, $alpha: .5);
      }
      :-ms-input-placeholder { /* IE 10+ */
        color:  rgba($color: #000000, $alpha: .5);
      }
      :-moz-placeholder { /* Firefox 18- */
        color: rgba($color: #000000, $alpha: .5);
      }
      p{
        margin-bottom: 0px !important;

      }
      .input-group-addon{
        background: $extraColor !important;
        color: $textColor;
        border: none !important;
    }


      .btn-group{
          width: 100% !important;
          button{
              width: 50%; 
        }
        button:focus{
          box-shadow: none;
          }
      }

      .cardIdea{
       

        .card-title{
          text-overflow: ellipsis;
        }
    
          font-size: 14px;
          .content{

           .card-img-top-notfound{
            
            
           }
           .card-img-top{
            height: 300px;
          
          }
           .relative {
            cursor: pointer !important;
            height: 300px;
            position: relative;
            background-color: $colorBackgroundSelected;
     
          } 

          
        
          .absolute {
            position: absolute;
            top: 0;
            left:5 ;
            background-color: rgba(0, 0, 0, .5);
           
            padding-right: 20px;
            padding-top: 4px;
            padding-bottom: 4px;
         
            .dot{
              margin: 6px;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              background: red;
            }
          
           
          }
          
          
          }
         color: $textColor;
          margin-bottom: 30px;

          .card-body{
           background: $primaryColor !important;
           min-height: 103px;
          }
          .imgAuthor{
            width: 40px;
            height: 40px;
            border-radius: 100%;
          }
         
          .list-group-item{
              border: none;
              background: $primaryColor !important;
              .likes{
                  margin-right: 30px;
                  margin-left: 10px;
              
              
                  p{
                      margin-left: 10px;
                  }
              }
              .comment{
                cursor: pointer !important;
                p{
                  margin-left: 10px;
                }

              }
              .notify{
                margin-right: 10px;
             
             
              }
            
          }
          .none{
            list-style: none;
            background: $primaryColor !important;
            height: auto;
            
              hr {
            margin-bottom: 0;
             
                height: 1px;
                width: 94%;
                background-color: rgba($color: #ffffff, $alpha: .2);
              }
          }
      }

     

     
 }

.margin{
  margin-bottom: 30px;
}
.btnBack{
  background-color: $extraColor !important;
  color: $textColor;
 
}
 .btnActive{
   background-color: $extraColor !important;
   color: $textColor;
   border: 2px solid $extraColor !important;

 }
.btnNormal{
  background-color: $Backround !important;
  border: 2px solid $extraColor !important;
  color: rgba($textColorDark, .7);
}

//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Idea Cycle
 #Cycle{
  color: rgba($textColorDark, .30);
  header{
    margin-bottom: 40px;
    .container-title{
     
      border-bottom: 2px solid #E9E9E9 !important;
      .title{
        color: rgba($color: $textColorDark, $alpha: .80);
        font-weight: 300;
       
        margin: 30px 12px !important;
        font-size: 30px;
      }
    }
    

    .team-container{
     padding-left: 0px !important;
     padding-right: 0px !important;
      .collaborators{
       
            background-color: $collaboratorsBackround;
            padding: 15px !important;
            margin: 0px !important;
            width: auto !important; 
            max-width: 70%;
            min-width: 120px;
            
        }
        .employee{
          
           padding: 15px !important;
           width: auto !important;
           max-width: 80px !important;
           min-width: 80px !important;
         }
  //991
      @media screen and (max-width: 992px){
        .employee{
         
          padding: 15px !important;
          width: auto !important;
          max-width: 80px !important;
          min-width: 80px !important;
        }
        .collaborators{
          max-width: 100% !important; 
 
           }
      }

      @media screen and (max-width: 768px){
        .employee{
         
          padding: 15px !important;
          width: auto !important;
          max-width: 80px !important;
          min-width: 80px !important;
        }
        .collaborators{
          max-width: 100% !important; 
 
           }
      }

      @media screen and (max-width: 570px){
        .employee{
         
          padding: 15px !important;
          width: 100% !important;
          max-width: 100% !important;
          min-width: 100% !important;
        }
        .collaborators{
               max-width: 100% !important;
               width: 100% !important;
           }
      }
    }

    
  

    img{
      width: 50px;
      height: 50px;
      min-height: 50px;
      min-width: 50px;
      border-radius: 100%;
      margin: 7px  !important;
    }
    h3{
      font-size: 16px;
      color: rgba($color: $textColorDark, $alpha: .90);
    }

    button{
      font-size: 14px;
    }
    
  }
  .imageIdea{
    max-width: 100%;
    width: 100%;
    height: 381px;
    background-color: $colorBackgroundSelected;
  }
  .list-group{
    color: rgba($color: $textColorDark, $alpha: .90) !important;
    li{
      margin: 5px 0px !important;
      padding: 20px 0px !important;
      border-right: none !important;
      border-top: none !important;
      border-left: none !important;
      border-bottom: 1px solid #E9E9E9 !important;
    }
  }

  /*cycle  */
  .comments{
    padding-left: 10%;
    padding-top: 10%;
    .commentTitle{
      color: rgba($color: $textColorDark, $alpha: .50);
    }
  
    .commentContent{
      padding-top: 5%;
      color: rgba($color: $textColorDark, $alpha: .80);
    }
  
  }

  
  .face-mobile{
    margin: 20px 0px;
  }


  .imgFaceIco{
   margin-top: 20px;
    text-align: center;
    p{
      margin-top: 10px;
    }
  

  }

}



