@import '../../../../styles/_colors.scss';

@media screen and(max-width: 570px){
  
  .dark-modal .modal-dialog {
    width: auto !important;
    max-width: 100% !important;
  }

}
.dark-modal{
 
.modal-header{
  background-color: $colorBtnLeft !important;
  color: white;
}
  .form-control-lg{
    button{
      font-size: 12px;
      
    }
    .bntAdd{
      padding: 0.5rem 40px;
      color: #fff;
      background-color: $colorBtnLeft;
      border-color: $colorBtnLeft;
    }
  }
  .checkText{

    font-size: 12px;
  }

  .group{
    margin-top: 10px!important;
  }
  select{
    width: 100%;
  }
  .img-circle {
    border-radius: 50%;
  }

  img{
    width: 81px;
    height: 81px;
    margin: 20px 0px;
  }
}

.btnActive{
  background-color: $extraColor!important;
  color: $textColor;
  border: 2px solid $extraColor!important;

}