<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Agregar empleado</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');resetData();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body body-add">


    <form #UserData="ngForm" (ngSubmit)="onSubmit();" novalidate>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !Id.valid && Id.touched }">
            <label for="idEmpleado">Id. del Empleado:</label>
            <input [(ngModel)]="user.idEmployee" #Id="ngModel" type="text" class="form-control userData" id="idEmpleado"
              placeholder="" name="idEmpleado" required autocomplete="off">

            <div *ngIf="!Id.valid && Id.touched" class="invalid-feedback">Id es requerido</div>

            <div>{{messageId}}</div>

          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !Password.valid && Password.touched}">
            <label for="Password">Contraseña:</label>

            <input type="password" class="form-control userData" id="Password" placeholder="" [(ngModel)]="user.password" #Password="ngModel"
              name="Password" required autocomplete="off" minlength="8">

            <div *ngIf="!Password.valid && Password.touched" class="invalid-feedback">La contraseña es necesaria y debe contener al menos 8 caracteres</div>

          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': user.password !== user.confirmPassword}">
            <label for="confirmPassword">Confirmar Contraseña:</label>

            <input type="password" class="form-control userData" id="confirmPassword" required Equalvalidate="Password" [(ngModel)]="user.confirmPassword"
              name="confirmPassword" #confirmPassword="ngModel" minlength="8">

            <div *ngIf="user.password !== user.confirmPassword" class="invalid-feedback">
              Las contraseñas no coinciden
            </div>


          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !Name.valid && Name.touched }">
            <label for="name">Nombre:</label>
            <input [(ngModel)]="user.name" #Name="ngModel" type="text" class="form-control userData" id="name" placeholder="" name="name"
              required pattern="^[a-zA-Z0-9][a-zA-Z0-9-_\.\s]{1,50}$">

            <div *ngIf="!Name.valid && Name.touched" class="invalid-feedback">Debes de ingresar un nombre valido</div>
          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !surname.valid && surname.touched }">
            <label for="surname">Apellidos:</label>
            <input [(ngModel)]="user.surname" #surname="ngModel" type="text" class="form-control userData" id="surname" placeholder=""
              name="surname" required pattern="^[a-zA-Z0-9][a-zA-Z0-9-_\.\s]{1,50}$">

            <div *ngIf="!surname.valid && surname.touched" class="invalid-feedback">Debes de ingresar un apellido valido</div>
          </div>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4">

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !email.valid}">
            <label for="email">E-mail:</label>
            <input [(ngModel)]="user.email" #email="ngModel"  type="email" class="form-control userData" id="email"
              placeholder="" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" autocomplete="off">

            <div *ngIf="!email.valid " class="invalid-feedback">Debes de ingresar un email valido</div>

            <div>{{messageEmail}}</div>

          </div>

          <div class="form-group">
            <label for="systemRole">Permisos del usuario:</label>
            <select #Role="ngModel" [(ngModel)]="user.systemRole" class="custom-select userData" name="systemRole" id="systemRole" required>

              <option *ngFor="let r of systemRole" [ngValue]="r.value">{{r.show}}</option>
            </select>
          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !telefono.valid && telefono.touched }">
            <label for="phone">Telefono:</label>
            <input type="text" #telefono="ngModel" [(ngModel)]="user.phone" [textMask]="{mask: mask}" class="form-control userData" name="phone"
              id="phone" aria-describedby="helpId" placeholder="" required pattern="\(\d{3}\) \d{3}-\d{4}">
            <div *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback">Debes de ingresar un telefono valido</div>
          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !d.valid && d.touched}">
            <label for="startDate">Fecha en la que inició a trabajar:</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelDate" ngbDatepicker #date="ngbDatepicker">
              <button class="input-group-addon" (click)="date.toggle()" type="button">
                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                <fa name="calendar"></fa>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label for="workArea">Área de trabajo:</label>
            <select [(ngModel)]="user.workArea" class="custom-select userData" name="workArea" id="workArea" required>
              <option *ngFor="let r of workArea" [ngValue]="r">{{r}}</option>
            </select>
            <div class="group">
              <button type="button" (click)="alertAdd(true)" class="btn btn-primary btn-sm">
                <fa name="plus"></fa>
              </button>
              <button type="button" (click)="alertUpdate(true)" class="btn btn-success btn-sm">
                <fa name="pencil"></fa>
              </button>
              <button type="button" (click)="alertDelete(true)" class="btn btn-danger btn-sm">
                <fa name="trash"></fa>
              </button>
            </div>

          </div>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <fieldset>
            <div class="form-group">
              <label for="workCharge">Puesto:</label>
              <select [(ngModel)]="user.workCharge" class="custom-select userData" name="workCharge">
                <option *ngFor="let c of workCharge; let index;" [ngValue]="c">{{c}}</option>
              </select>
              <div class="group ">
                <button type="button" (click)="alertAdd(false)" class="btn btn-primary btn-sm">
                  <fa name="plus"></fa>
                </button>

                <button type="button" (click)="alertUpdate(false)" class="btn btn-success btn-sm">
                  <fa name="pencil"></fa>
                </button>

                <button type="button" (click)="alertDelete(false)" class="btn btn-danger btn-sm">
                  <fa name="trash"></fa>
                </button>
              </div>
            </div>

            <div class="form-group">
              <label class="label label-pill label-info">Rol para las ideas:</label>
              <div class="d-flex">
                <div class="p-2">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [checked]="isCollaborator" (change)="verifyCollaborator()" />
                    <span class="checkText">Colaborador</span>
                  </label>
                </div>
                <div class="p-2">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [checked]="isCoach" (change)="verifyCoach()" />
                    <span class="checkText">Coach</span>
                  </label>
                </div>

              </div>
            </div>

            <div class="form-group">
              <label for="userImage">
                Subir Foto de Perfil:
              </label>
              <div class="d-flex justify-content-center">
                <img *ngIf="avatar" [src]="avatar" id="image-logged" alt="user.png" class="img-circle ">
                <img *ngIf="!avatar" (click)="file.click()" src="assets/icons/choose-image.png" id="image-logged" alt="user.png" class="img-fluid">
              </div>
              <div class="align-self-center">
                <div class="form-group">
                  <label class="userData custom-file">
                    <input type="file" #file accept="image/*" name="userImage" id="userImage" placeholder="Examinar" class="userData custom-file-input"
                      (change)="filechangeEvent($event)" aria-describedby="fileHelpId">
                    <span class="userData custom-file-control"></span>
                  </label>
                </div>
              </div>
            </div>

          </fieldset>
        </div>

      </div>
      <div class="form-control-lg">
        <button type="submit" class="btn btn-lg bntAdd" [disabled]="!UserData.valid">Registrar</button>
        <button type="button" class="btn btn-outline-dark btn-lg "  (click)="c('Close click')">Cancelar</button>

      </div>
    </form>



  </div>
</ng-template>

<button class="btn btnActive" (click)="open(content)">
  Agregar empleado
</button>