<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">{{user.fullname}}</h4>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); resetData(); ">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">


    <form #UserData="ngForm" (ngSubmit)="onSubmit();c('Close click');" novalidate>
      <div class="row update">

        <div class="col-12 col-sm-12 col-md-12 col-lg-4">

          <div *ngIf="!isEdit" class="form-group showimage">
            <div class="d-flex justify-content-center">
              <div *ngIf="user.image">
                <img [src]="urlGetImage + user.image" alt="" class="img-circle img-fluid">
              </div>
              <div *ngIf="!user.image">
                <img src="assets/icons/choose-image.png" id="image-logged" alt="user.png" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !Id.valid && Id.touched }">

            <label for="idEmpleado">Id. del empleado:</label>

            <input [(ngModel)]="user.idEmployee" #Id="ngModel" [disabled]="!isEdit"  type="text" class="form-control userData"
              id="idEmpleado" placeholder="" name="idEmpleado" required>

            <div *ngIf="!Id.valid && Id.touched" class="invalid-feedback">Id es requerido.</div>
            <div>{{messageId}}</div>
          </div>

          <div *ngIf="isEdit" class="form-group">
            <label for="Password">Contraseña:</label>

            <input type="password" class="form-control userData" id="Password" placeholder="" [(ngModel)]="password" #Password="ngModel"
              [disabled]="!isEdit" name="Password" minlength="8">
          </div>

          <div *ngIf="isEdit" class="form-group" [ngClass]="{ ' was-validated is-invalid': password !== confirmPassword}">
            <label for="confirmPassword">Confirmar Contraseña:</label>

            <input type="password" class="form-control userData" id="confirmPassword" [(ngModel)]="confirmPassword" [disabled]="!isEdit"
              name="confirmPassword" #ConfirmPassword="ngModel" minlength="8" >

            <div *ngIf="password !== confirmPassword" class="invalid-feedback">
              Las contraseñas no coinciden.
            </div>


          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !Name.valid && Name.touched }">
            <label for="name">Nombre:</label>
            <input [(ngModel)]="user.name" #Name="ngModel" [disabled]="!isEdit" type="text" class="form-control userData" id="name" placeholder="Nombre"
              name="name" required pattern="^[a-zA-Z][a-zA-Z0-9-_\.\s]{1,50}$">

            <div *ngIf="!Name.valid && Name.touched" class="invalid-feedback">Debes de ingresar un nombre valido.</div>
          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !surname.valid && surname.touched }">
            <label for="surname">Apellidos:</label>
            <input [(ngModel)]="user.surname" #surname="ngModel" [disabled]="!isEdit" type="text" class="form-control userData" id="surname"
              placeholder="Apellidos" name="surname" required pattern="^[a-zA-Z][a-zA-Z0-9-_\.\s]{1,50}$">

            <div *ngIf="!surname.valid && surname.touched" class="invalid-feedback">Debes de ingresar un apellido valido.</div>
          </div>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4">

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !email.valid}">
            <label for="email">E-mail:</label>
            <input [(ngModel)]="user.email" #email="ngModel" [disabled]="!isEdit"  type="email" class="form-control userData"
              id="email" placeholder="Email" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            <div *ngIf="!email.valid " class="invalid-feedback">Debes de ingresar un email valido</div>
            <div>{{messageEmail}}</div>
          </div>

          <div class="form-group">
            <label for="systemRole">Permisos de usuario:</label>

            <select *ngIf="isEdit" #Role="ngModel" [(ngModel)]="user.systemRole" class="custom-select userData " name="systemRole" id="systemRole"
              required>
              <option *ngFor="let r of systemRole" [ngValue]="r.value">{{r.show}}</option>
            </select>
            <Label *ngIf="!isEdit" type="text" class="form-control userDataDisabel" id="email" placeholder="tipo se usuario">
              {{showRoleUser(user.systemRole) }}
            </Label>
          </div>
          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !telefono.valid && telefono.touched}">
            <label for="phone">Télefono:</label>
            <input  type="text" #telefono="ngModel" [(ngModel)]="user.phone" [textMask]="{mask: mask}"
            class="form-control userData" name="Phone"
              id="" aria-describedby="helpId" placeholder="" required [disabled]="!isEdit"
              pattern="\(\d{3}\) \d{3}-\d{4}">

            <div *ngIf="!telefono.valid && telefono.touched" class="help-block">Debes de ingresar un numero de telefono</div>

            
          </div>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !Date.valid && Date.touched }">
            <label for="startDate">Fecha en la que inició a trabajar:</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelDate" ngbDatepicker #Date="ngbDatepicker" [disabled]="!isEdit">
              <button class="input-group-addon" (click)="Date.toggle()" type="button" required>
                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                <fa name="calendar"></fa>
              </button>
            </div>
            
            <div *ngIf="UserData.submitted && !Date.valid" class="help-block">Debes de ingresar la fecha</div>
          </div>

          <div class="form-group">
              <label for="workArea">Área de trabajo:</label>
              <select *ngIf="isEdit" [(ngModel)]="user.workArea" class="custom-select userData" name="workArea" id="workArea" required>
                <option *ngFor="let r of workArea" [ngValue]="r">{{r}}</option>
              </select>
              <div class="group " *ngIf="isEdit">
                <button type="button" (click)="alertAdd(true)" class="btn btn-primary btn-sm">
                  <fa name="plus"></fa>
                </button>
                <button type="button" (click)="alertUpdate(true)" class="btn btn-success btn-sm">
                  <fa name="pencil"></fa>
                </button>
                <button type="button" (click)="alertDelete(true)" class="btn btn-danger btn-sm">
                  <fa name="trash"></fa>
                </button>
              </div>
              <Label *ngIf="!isEdit" type="text" class="form-control userDataDisabel" id="lblWorkArea" placeholder="tipo se usuario">
                  {{user.workArea }}
                </Label>
  
            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <fieldset>
            <div class="form-group">
              <label for="workCharge">Puesto:</label>
              <select *ngIf="isEdit" [(ngModel)]="user.workCharge" class="custom-select userData" name="workCharge">
                <option *ngFor="let c of workCharge; let index;" [ngValue]="c">{{c}}</option>
              </select>
              <div *ngIf="isEdit" class="group ">
                <button type="button" (click)="alertAdd(false)" class="btn btn-primary btn-sm">
                  <fa name="plus"></fa>
                </button>

                <button type="button" (click)="alertUpdate(false)" class="btn btn-success btn-sm">
                  <fa name="pencil"></fa>
                </button>

                <button type="button" (click)="alertDelete(false)" class="btn btn-danger btn-sm">
                  <fa name="trash"></fa>
                </button>
              </div>
              <Label *ngIf="!isEdit" type="text" class="form-control userDataDisabel" id="lblworkCharge" placeholder="tipo se usuario">
                {{user.workCharge }}
              </Label>
            </div>


            <div class="form-group">
              <label class="label label-pill label-info">Rol de ideas:</label>
              <div *ngIf="isEdit" class="d-flex">
                <div class="p-2">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [checked]="isCollaborator" (change)="verifyCollaborator()" />
                    <span class="checkText">Colaborador</span>
                  </label>
                </div>
                <div class="p-2">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [checked]="isCoach" (change)="verifyCoach()" />
                    <span class="checkText">Coach</span>
                  </label>
                </div>

              </div>

              <label *ngIf="!isEdit" class="form-control userDataDisabel">
                {{showRoleIdea(user.ideaRole)}}
              </label>
            </div>

            <div *ngIf="isEdit" class="form-group chooseImage">
              <label for="userImage">
                Subir Foto de Perfil:
              </label>
              <div class="d-flex justify-content-center">
                <div *ngIf="user.image && !avatar">
                  <img [src]="urlGetImage + user.image" alt="" class="img-circle img-fluid">
                </div>
                <div *ngIf="!user.image || avatar">
                  <img *ngIf="avatar" [src]="avatar" id="image-logged" alt="user.png" class="img-circle img-fluid ">
                  <img *ngIf="!avatar" (click)="file.click()" src="assets/icons/choose-image.png" id="image-logged" alt="user.png" class="img-fluid">
                </div>

              </div>
              <div class="align-self-center">
                <div class="form-group">
                  <label class="userData custom-file">
                    <input type="file" #file accept="image/*" name="userImage" id="userImage" placeholder="Examinar" class="userData custom-file-input"
                      (change)="filechangeEvent($event)" aria-describedby="fileHelpId">
                    <span class="userData custom-file-control"></span>
                  </label>
                </div>
              </div>
            </div>

          </fieldset>
        </div>

      </div>
      <div *ngIf="isEdit" class="form-control-lg">
          <button type="submit" class="btn btn-lg bntAdd" >Actualizar</button>
          <button type="button" class="btn btn-outline-dark btn-lg " (click)="c('Close click')">Cancelar</button>
        </div>
    </form>



  </div>
</ng-template>

<button *ngIf="isEdit" class="btn btn-success" (click)="open(content)">
  <fa name="pencil"></fa>
</button>
<button *ngIf="!isEdit" class="btn btn-info" (click)="open(content)">
  <fa name="search"></fa>
</button>