@import '../../../../styles/_colors.scss';


@import '../../../../styles/_colors.scss';
.userData {
  color: $textColorDark;
  font-weight: normal;
   background-color:white; 
}
@media screen and(max-width: 570px){
  
  .modalUpdate .modal-dialog {
    width: auto !important;
    max-width: 100% !important;
  }

}
.modalUpdate{
  .update{
    .userDataDisabel {
      color: rgba($color: $textColorDark, $alpha: .60);
      font-weight: normal;
      background-color:$Backround;
       
    }
  }

  
  input[type="email"]:disabled,
  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="date"]:disabled,
  input[type="number"]:disabled
  {
    background-color:$Backround;
    color: rgba($color: $textColorDark, $alpha: .60);
  }
  
  select{
    width: 100%;
  }
.modal-header{
  background-color: $colorBtnLeft !important;
  color: white;
}
  .form-control-lg{
    button{
      font-size: 12px;
      
    }
    .bntAdd{
      padding: 0.5rem 40px;
      color: #fff;
      background-color: $colorBtnLeft;
      border-color: $colorBtnLeft;
    }
  }
  .checkText{
    font-size: 12px;
  }

  .group{
    margin-top: 10px!important;
  }
.showimage{
  img{
    width: 159px;
    height: 159px;
    
  }
}
.chooseImage{
  

  img{
    width: 81px;
    height: 81px;
    margin: 20px 0px;
  }
}
.img-circle {
  border-radius: 50%;
}

}

.btnActive{
  background-color: $extraColor!important;
  color: $textColor;
  border: 2px solid $extraColor!important;

}