$secondaryColor: #9b9b9b;
$primaryColor: #2e4a64;
$colorPrimaryColor:#9b9b9b;
$Backround:#f9f9f9;
$colorBackgroundSelected:#ededed;
$auxColor:#0A0E10;
$bordesColor: #233236;
$focusInput: #172d33;
$extraColor: #00b6d1;

$textColor: #fff;
$textColorDark: #000;
$searchBar: #62849B;
$TapActive:#385979;
$colorLogin1:#26344c;
$colotLogin2:#26344c;

$tap:#3f6589; 
$colorBtnLeft:#00b6d1;
$colorBtnRigth:#00beb3;
$colorRolEmployee:#cfcfcf;

$inputBackround:#345A71;

$footer: #ededed ;

$menuActive: #1e758f;

$comboBackground:#e4ebf2;
$comboBorder: #b7c5d3;

$collaboratorsBackround:#f5f5f5;