/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import './_colors.scss';
@import '../styles.scss';

body,html{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh; 
    color: $textColorDark;
    font-family: 'Roboto', sans-serif;
    size: 16px;
}

  .pag{
  
     .pagination {
   .page-link{
     color: rgba($color: #000000, $alpha: .5) !important;
   }
   .active {
     a{
       color: white !important;
     }

   }
 }

 }

 .bntAdd{
  color: #fff;
  background-color: $colorBtnLeft;
  border-color: $colorBtnLeft;
}