<nav class="navbar navbar-expand-lg navbar-main justify-content-between">
    <a class="navbar-brand" [routerLink]="['/showIdeas']">
        <img src="assets/icons/logo-ideasapp.png" width="30" height="30" class="d-inline-block align-top title" alt="">
        IDEAS APP
      </a>
    
    <button class="navbar-toggler navbar-toggler-right " type="button"  data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <fa name="bars"></fa>
    </button>

  
    
      <div class=" collapse navbar-collapse " id="navbarText">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link "  routerLinkActive="active"  [routerLink]="['/showIdeas']"> Ideas </a>
              </li>
              <li *ngIf="identity.systemRole === 'ROLE_ADMIN'" class="nav-item" >
                <a class="nav-link " routerLinkActive="active"  [routerLink]="['/manageUsers']"> Gestionar empleados</a>
              </li>
             <li  class="nav-item ">
                <a (click)="logout()" class="nav-link logout"> Cerrar sesion 
                </a>
             </li>
            </ul>
         
          
             <!-- <img *ngIf=" _userService.identity.image !== null" [src]="_userService.identity.image !== undefined && _userService.identity !== undefined  ? urlImage + _userService.identity.image : '/assets/images/default.png'  " alt="">
             <img *ngIf=" _userService.identity.image === null" [src]="'/assets/images/default.png'  " alt=""> -->
      </div>

        
   
  </nav>