@import '../../../../styles/_colors.scss';
.navbar {
  background-color: $primaryColor;
  color: white;
  padding: 0px !important;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-main {

  font-weight: lighter;
  .navbar-brand {
  margin-left: 20px !important;
      color: $extraColor;
    
  }
  

  .navbar-nav {
    
    .nav-link {
      color: #ffffffcc;
      padding: 20px 25px !important;
      &.disabled {
        color: $extraColor;
      }
    }
    .nav-link:hover{
      color: #ffffffcc;
      background-color: rgba($menuActive, .90);
    }

    .show>.nav-link,
    .active>.nav-link,
    .nav-link.show,
    .nav-link.active
     {
      color: #ffffffcc;
     background-color:  rgba($menuActive, .70);
     font-weight: lighter;
     
    }

    .nav-link.active:hover
    {
     color: #ffffffcc;
    background-color: rgba($menuActive, .90);
    font-weight: lighter;
    
   }

  }

 .logout{
   cursor: pointer;
   
 }

 .nav-item
 {
   a:hover{
    color: rgba(253, 254, 255, 0.822) !important;
    border-color: #007690;
   }
  
 }

  .navbar-toggler {
    color: #ffffffcc !important;
    border-color: #007690;
   
  }

  .navbar-toggler-icon-main {
    background-image: #007690;
  }

  .form-inline {
    
    display: flex;
    
    a{
      cursor: pointer;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
     
    }
  }

 
}
