<div class="manageUser">
  <section class="main-container">
    <div class="row justify-content-between">
      <header class="col-md-4">
        <h2>Gestion de empleados</h2>
      </header>
      <div class="form-group col-sm-12 col-md-4 col-lg-3 d-flex  ml-md-auto flex-row-reverse">

        <div class="input-group mb-2 mb-sm-0">
          <input  type="search" [(ngModel)]="search" (keyup)="onSearch($event)" class="form-control userData" name="Search" id="" aria-describedby="helpId"
          placeholder="Buscar">
          <div class="input-group-addon">
            <fa name="search"></fa>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-2 ">
        <app-addUsers></app-addUsers>
      </div>
      <div class="col-md-3">
     
        <select (change)="filteredBy($event)" class="custom-select userData" name="filter" id="">
          <option selected value="0">Todos Los Usuarios</option>
          <option value="1">Colaboradores</option>
          <option value="2">Coach</option>

        </select>
      </div>

    </div>
    <table class="table  thead-default">
      <thead class="thead-default">
        <tr>
          <th>Id Empleado</th>
          <th>Empleado</th>
          <th>Area de Trabajo</th>
          <th>Rol en Ideas</th>

          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsers">
          <td scope="row">{{user.idEmployee}}</td>
          <td>{{user.fullname}}</td>
          <td>{{user.workArea}}</td>
          <td>{{user.ideaRole === 'BOTH'? 'Ambos roles' : ''}}{{user.ideaRole === 'COACH'? 'Coach' : ''}}{{user.ideaRole ===
            'COLLABORATOR'? 'Colaborador' : ''}}</td>

          <td>
            <app-updateUser [_id]="user._id" [isEdit]="false"></app-updateUser>
            <app-updateUser [_id]="user._id" [isEdit]="true"></app-updateUser>
            <button type="button" class="btn btn-danger" (click)=" Delete(user._id)">
              <fa name="trash"></fa>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class=" d-flex align-items-end pag">
      <ngb-pagination class="pagination" [collectionSize]="totalItems" [pageSize]="10" [(page)]="page" [maxSize]="7" [rotate]="true"
        [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>

  </section>
</div>

<app-footer></app-footer>