@import './addUsers/addUser.component.scss';
@import '../../../styles/_colors.scss';
  .head{
    display: inline-block;
    padding: 1% 10% 5% 2%;
    width: 100%;
    color: rgba(0, 0, 0, 0.767);
  }
  .manageUser{
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    background-color: white;
    .main-container {
      
      padding: 15px;
      -ms-overflow-x: hidden;
      overflow-x: hidden;
      overflow-y: scroll;
      position: relative;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.767);
     
      input{
        background-color: white;
        color: $textColorDark;
        border: 2px solid $extraColor;
    
      }
      select{
        background-color: $comboBackground;
        border: 2px solid $comboBorder !important;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        option{
          margin: 50px;
          font-size: 14px;
          border: 1px solid $comboBorder !important;
          
        }
      }
     
      .add{
        padding-left: 12%;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba($color: #000000, $alpha: .5);
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: rgba($color: #000000, $alpha: .5);
      }
      :-ms-input-placeholder { /* IE 10+ */
        color:  rgba($color: #000000, $alpha: .5);
      }
      :-moz-placeholder { /* Firefox 18- */
        color: rgba($color: #000000, $alpha: .5);
      }
      
    }
    .input-group-addon{
      background: $extraColor !important;
      color: $textColor;
      border: none !important;
  }

    .lblFilter{
      margin: 5px;
    }
    
    
    
    
    
    
  }
.pagination-container {
  .pagination {
    float: right;
    margin-right: 20%;
    ul {
      li {
        .page-tem .active {
          .page-link {
            background-color: $secondaryColor;
          }
        }
        a {
          background-color: $secondaryColor;
          color: white;
          border: solid 1px $bordesColor;
        }
      }
      .disable {
        background-color: $secondaryColor;
      }
    }
  }
}
