<footer class="d-flex align-items-end footer ">
  <div class="d-flex justify-content-center container">
    <div class="row">
    <p class="text-muted">Ideas app &#169; 2018. Todos los derechos reservados</p>
  </div>
  </div>
</footer>