.footer{
    
    
    bottom: 0;
    
    width: 100%;
    
    height: auto;
    
    
    line-height: 60px;
    
    background-color: #f5f5f5;

    .text-muted{
        font-weight: bold;
        text-align: center;
        font-size: 14px;
        margin: 0px !important;
    }
}