@import '../../../styles/_colors.scss';
.main{
    padding-top: 50px;
    background-color: $primaryColor;
    color: #ffffffa6;
       
           /* Full height */
           height: 100vh; 
       
           /* Center and scale the image nicely */
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;

        .card-container.card {
            max-width: 500px;
            padding: 40px 40px;
        }
        
        .btn {
            
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
        }
        
        /*
         * Card component
         */
        
        .card {
            background-color: $primaryColor;
            /* just in case there no content*/
            padding: 20px 25px 30px;
            margin: auto auto;
            
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
           border: none;
        }
        
        .profile-img-card {
            width: 100px;
            height: 100px;
            margin: auto auto;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        
        /*
         * Form styles
         */
        .profile-name-card {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            margin: 10px 0 0;
            min-height: 1em;
        }
        
        
        
        @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
        .search { position: relative;
            .search input { text-indent: 30px;}
            
            
            .form-signin #inputEmail,
            .form-signin #inputPassword {
                direction: ltr;
                height: 45px;
                font-size: 16px;
            }
            
            input{
                max-width: 400px;
                height: 45px;
                
                background: $inputBackround;
                color: $textColor;
                text-indent: 32px;
                margin: 0 auto 20px;
            }
        
            img{
              width: 20px;
              height: 20px;   
            }
            .icon { 
                position: absolute;
                top: 10px;
                left: 20px;
              }
            
            .form-signin .form-control:focus {
                border-color: rgb(104, 145, 162);
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
            }
        }
        
        button {
            max-width: 400px;
            height: 45px !important;
            display: block;
            margin-bottom: 10px;
            z-index: 1;
            position: relative;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0 auto 20px;
            
            /*background-color: #4d90fe; */
            background-color: $colorBtnLeft;
            background: -moz-linear-gradient(left, $colorBtnLeft 0%, $colorBtnRigth 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, $colorBtnLeft), color-stop(100%, $colorBtnRigth));
            background: -webkit-linear-gradient(left, $colorBtnLeft 0%, $colorBtnRigth 100%);
            background: -o-linear-gradient(left, $colorBtnLeft 0%, $colorBtnRigth 100%);
            background: -ms-linear-gradient(left, $colorBtnLeft 0%, $colorBtnRigth 100%);
            background: linear-gradient(to right, $colorBtnLeft 0%, $colorBtnRigth 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorBtnLeft', endColorstr='$colorBtnRigth', GradientType=1 );
        }
        
        
        .btn.btn-signin {
            padding: 0px;
            font-size: 14px;
            height: 36px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            border: none;
            -o-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -webkit-transition: all 0.218s;
            transition: all 0.218s;
        }
        
        .btn.btn-signin:hover,
        .btn.btn-signin:active,
        .btn.btn-signin:focus {
            background-color: $colorBtnLeft;
            background: -moz-linear-gradient(left, $colorBtnLeft 0%, $colorBtnRigth 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, $colorBtnLeft), color-stop(100%, $colorBtnRigth));
            background: -webkit-linear-gradient(left, $colorBtnLeft 0%, $colorBtnRigth 100%);
            background: -o-linear-gradient(left, $colorBtnLeft 0%, $colorBtnRigth 100%);
            background: -ms-linear-gradient(left, $colorBtnLeft 0%, $colorBtnRigth 100%);
            background: linear-gradient(to right, $colorBtnLeft 0%, $colorBtnRigth 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorBtnLeft', endColorstr='$colorBtnRigth', GradientType=1 );
        }

       
            .forgot-password {
                margin:0 auto 35px;
                cursor: pointer;
                color: #A2ACB6;
            }
            .return {
               text-decoration: underline;
            }
            
            .forgot-password:hover,
            .forgot-password:active,
            .forgot-password:focus{
                color: rgb(134, 142, 150)
            }
        
        
       
}
