<div class="container-fluid main">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="/assets/icons/logo-ideasapp.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form  *ngIf="!forgotPassword" class="form-signin" #Login="ngForm" (ngSubmit)="onSubmit();" novalidate>
           
            <div class="search">
                <img id="icon" class="icon" src="/assets/icons/logo-ideasapp.png" />
                <input type="text" id="inputEmail" class="form-control" [(ngModel)]="user.idEmployee" name="id" placeholder="Id Empleado" required
                autofocus autocomplete="off">
              </div>
           
              <div class="search">
                <img id="icon" class="icon" src="/assets/icons/logo-ideasapp.png" />
                <input type="password" id="inputPassword" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Contraseña"
                required autocomplete="off">
              </div>
            


            <button class="btn btn-primary btn-block btn-large" type="submit">
                INICIAR SESIÓN</button>
              
               
        </form>
       
            <a *ngIf="!forgotPassword" class="forgot-password" (click)="toggleGetPassword()">
                ¿Olvidó su contraseña? 
            </a>
       
        <!-- /form -->



        <form *ngIf="forgotPassword" class="form-signin" #Login="ngForm" (ngSubmit)="forgetPassword();" novalidate>
           
            <div class="search">
                <img id="icon" class="icon" src="/assets/icons/logo-ideasapp.png" />
                <input type="email" id="inputEmail" class="form-control" [(ngModel)]="user.email" name="id" placeholder="Correo" required
                autofocus>
              </div>
            
            <button class="btn btn-primary btn-block btn-large" type="submit">
                ENVIAR</button>
               
        </form>
        <!-- /form -->
        <a  *ngIf="forgotPassword" class="forgot-password return" (click)="toggleGetPassword()">
            Resgresar
        </a>
       


    </div>
    <!-- /card-container -->
</div>