<div class="container-fluid main">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="/assets/icons/logo-ideasapp.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form  class="form-signin" #Reset="ngForm" (ngSubmit)="onSubmit();" novalidate>
          <span id="reauth-email" class="reauth-email"></span>

          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': !Password.valid && Password.touched}">
            
  
           
              <div class="search">
                <img id="icon" class="icon" src="/assets/icons/logo-ideasapp.png" />
                <input type="password" class="form-control " id="Password" placeholder="Contraseña"
                [(ngModel)]="user.password" #Password="ngModel" 
                  name="Password" 
                  required
                  autocomplete="off"
                  >
              </div>
            <div *ngIf="!Password.valid && Password.touched" class="invalid-feedback">La contraseña en necesaria</div>
  
          </div>
  
          <div class="form-group" [ngClass]="{ ' was-validated is-invalid': user.password !== user.confirmPassword}">
            
            <div class="search">
              <img id="icon" class="icon" src="/assets/icons/logo-ideasapp.png" />
              <input type="password" class="form-control " id="confirmPassword" 
              required 
              Equalvalidate="Password" 
              [(ngModel)]="user.confirmPassword"
                name="confirmPassword" #confirmPassword="ngModel"
                placeholder="Confirmar contraseña"
                autocomplete="off"
                >
            </div>
  
           
  
              <div *ngIf="user.password !== user.confirmPassword" class="invalid-feedback">
                  Las contraseñas no coinciden
                </div>

               
          </div>

          
          <button [disabled]="!Reset.valid" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Restablecer contraseña</button>
      </form><!-- /form -->


  </div><!-- /card-container -->
</div><!-- /container -->